{% extends 'bootstrap/base.html' %}

{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">☕️ Café & Wifi 💻</h1>
  <p class="lead">Tu veux taffer dans un café avec une bonne wifi, de bon cafés et des prises ?</p>
  <hr class="my-4">
  <p>Tu es au bon endroit mon coco! Clique sur le bouton en dessous pour en découvrir !</p>
  <a class="btn btn-info btn-lg" href="/cafes" role="button">Montre-moi !</a>
        <br>
        <br>
  <p>Si tu en connais un sympa, ajoute-le !</p>
  <a class="btn btn-success btn-lg" href="/add" role="button">Ajouter !</a>

</div>
    </div>

{% endblock %}
